<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanshare.wscomponent.album">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>


    <application>
        <activity android:name=".select.PhotoPickerActivity" />

        <activity android:name=".PhotoPreviewActivity" />

        <activity android:name=".crop.PhotoCropActivity" />

    </application>

</manifest>
